Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /spendwise_php/public/
    RewriteRule ^$ login.html [R=302,L]
    RewriteRule ^index\.html$ login.html [R=302,L]
</IfModule>
